@media screen and (max-width: 700px) {
    .content {
    background-color: blue;
    }
}

@media screen and (max-width: 700px) {
    header {
    position: static;
    flex-direction: column;
    }
    .nav-bar-items {
    flex-direction: column;
    text-align: center;
    }
}
 
@media screen and (max-width: 700px) {
    #profile-container {
    padding-top: 32px;
    flex-direction: column;
    }
    #bio {
    margin: 16px;
    padding: 16px 0;
    }
}

@media screen and (max-width: 700px) {
    .portfolio-card {
    flex-direction: column;
    align-items: flex-start;
    }
    .portfolio-card div {
    width: 100%;
    margin: 16px;
    }
    .portfolio-picture {
    width: 100%;
    height: auto;
    }
}

@media screen and (max-width: 550px) {
    .skill-card {
    flex: 0 1 47%;
    }
}

@media screen and (max-width: 550px) {
    .education-card {
    flex: 0 1 97%;
    }
}
   
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #333333;
}

/* ===================== Header ===================== */
header {
    background-color: #ff0000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: auto;
    cursor: pointer;
    margin: 12px 24px;
    padding: 8px 16px;
    background-color: #fff200;
    color: #ff0000;
    font-size: 2em;
    border-radius: 20px;
}

.nav-bar-items {
    list-style: none;
    display: flex;
}

.nav-bar li {
    padding: 16px 32px;
}

.nav-bar-items li a {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #fff200;
}

/* ================= Profil ================== */
.content {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0px 32px;
}

#profile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;
    margin: 0 1.5%;
}

#profile-picture {
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.title-1 {
    margin: 24px 0px;
    font-size: 2.5em;
    font-weight: 700;
    color: #ff0000;
}

.subtitle {
    font-size: 1.25em;
    line-height: 1.4;
    margin: 24px 0;
    color: #fff200;
}

#bio {
    margin-left: 50px;
}

.social-media-container a {
    margin-right: 16px;
}

hr {
    margin: 15px 15%;
    width: 70%;
}


/* ================= Portofolio ===================== */
.portfolio-card {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 16px 15%;
    background-color: #fff200;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(247, 222, 0, 0.5);
}

.portfolio-picture {
    height: 250px;
    width: 40%;
    border-radius: 16px;
    object-fit: cover;
}

.portfolio-card div {
    width: 60%;
    margin-left: 16px;
    margin-right: 16px;
}

.title-2 {
    padding-top: 96px;
    margin-left: 15%;
    font-size: 1.5em;
    color: #ff0000;
    font-weight: 700;
    text-transform: uppercase;
}

.title-3 {
    color: #ff0000;
    margin: 16px 0px;
    font-size: 1.25em;
    font-weight: 700;
}


/* ================= Keterampilan ===================== */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    width: 70%;
    margin: 16px 15%;
}

.skill-card {
    flex: 0 1 22%;
    background-color: white;
    margin: 16px 1.5%;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.skill-picture {
    height: auto;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
}

.skill-title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    color: #ff0000;
}

/* ================= Pengalaman ===================== */
.experience-card {
    background-color: gray;
    margin: 32px 15%;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.title-4 {
    font-size: 1em;
    margin: 8px 0px;
    color: #333333;
}

.description {
    line-height: 1.5;
    color: #333333;
}

/* ================= Pendidikan ===================== */
.education-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.education-card {
    flex: 0 1 30%;
    margin: 16px 15%;
    padding: 16px 16px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.education-picture {
    height: auto;
    width: 100px;
    border-radius: 10px;
}

/* ================= Footer ===================== */
footer {
    text-align: center;
    padding: 32px;
    background-color: #ff0000;
    color: #fff200;
}
   