@media screen and (max-width: 700px) {
    .content {
        background-color: #333333;
        padding: 0px;
        }

    /* header {
        position: fixed;
    } */

    header {
            flex-direction: column; 
            padding: 0px;
            border-radius: 10px;
        }
        .nav-bar-items {
            flex-direction: column;
            display: block;
            padding: 0px;
        }

    /*  ============home di tengah merata================ */
            .home-around-portofolio {
                padding-right: 150px;
                padding-left: 150px;
            }
            .home-around-skill {
                padding-right: 140px;
                padding-left: 140px;
            }
            /* .home-around-skill2 {
                padding-right: 140px;
                padding-left: 140px;
            } */
            .home-around-work {
                padding-right: 150px;
                padding-left: 150px;
            }
            .home-around-work2 {
                padding-right: 170px;
                padding-left: 170px;
            }
            .home-around-work3 {
                padding-right: 170px;
                padding-left: 170px;
            }

    #profile-container {
        padding-top: 32px;
        flex-direction: column;
    }
    #bio {
        margin: 16px;
        padding: 16px 0;
    }

    .portfolio-card {
        flex-direction: column;
        align-items: flex-start;
        }

        .portfolio-card div {
            width: 100%;
            margin: 16px;
        }

        .portfolio-picture {
            /* width: 100%;
            height: auto; */
            max-width: 100%;
        }

    .education-card {
        flex: 0 1 100%;
    }

    footer {
        font-size: 14px;
    }
    
}    

@media screen and (max-width: 550px) {
    .skill-card {
    flex: 0 1 47%;
    }

    .education-card {
        flex: 0 1 97%;
        }
}

   
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #333333;
}

/* ===================== Header ===================== */
header {
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

/*  ============home di tengah merata================ */
.home-around-portofolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px -150px 0px -150px;
}

.home-around-portofolio a:hover {
    background-color: #ff0000;
    padding: 8px 16px;
    border-radius: 20px;
}

.home-around-skill {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px -90px 0px -90px;
}

.home-around-skill a:hover {
    background-color: #ff0000;
    padding: 8px 16px;
    border-radius: 20px;
}

.home-around-skill2 {
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center; */
    /* margin: 0px -60px 0px -60px; */
    padding-top: 30px;
    margin-left: 17%;
}

/* .home-around-skill2 a:hover {
    background-color: #ff0000;
    padding: 8px 16px;
    border-radius: 20px;
} */

.home-around-work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px -110px 0px -110px;
}

.home-around-work a:hover {
    background-color: #ff0000;
    padding: 8px 16px;
    border-radius: 20px;
}

.home-around-work2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px -160px 0px -160px;
}

.home-around-work2 a:hover {
    background-color: #ff0000;
    padding: 8px 16px;
    border-radius: 20px;
}

.home-around-work3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px -100px 0px -100px;
}

.home-around-work3 a:hover {
    background-color: #ff0000;
    padding: 8px 16px;
    border-radius: 20px;
}

/*  ============di atas home di tengah merata================ */

.logo {
    width: auto;
    cursor: pointer;
    margin: 12px 24px;
    padding: 8px 16px;
    /* background-color: #fff200; */
    color: #fff200;
    font-size: 2em;
    border-radius: 20px;
}

header a:hover {
    background-color: #ff0000;
    padding: 8px 16px;
    border-radius: 20px;
}

.nav-bar-items {
    list-style: none;
    display: flex;
}

.nav-bar li {
    padding: 16px 10px;
}

.nav-bar-items li a {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #fff200;
}

.nav-bar a:hover {
    background-color: #ff0000;
    padding: 10px;
    border-radius: 15px;
}

/* ================= Profil ================== */
.content {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0px 32px;
}

#profile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    margin: 0 1.5%;
}

#profile-picture {
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(247, 222, 0, 0.5);
}

#profile-picture:hover {
    box-shadow: 0px 0px 10px 0px #ff0000;
}

.title-1 {
    margin: 24px 0px;
    font-size: 2.5em;
    font-weight: 700;
    color: #ff0000;
}

#name:hover {
    color: #fff200;
}

.subtitle {
    font-size: 1.25em;
    line-height: 1.4;
    margin: 24px 0;
    color: #fff200;
}

.subtitle span:hover {
    color: #ff0000;
}

#bio {
    margin-left: 50px;
}

.social-media-container a:hover {
    margin-right: 16px;
    background-color: #ff0000;
}

.icon {
    width: 50px;
    height: auto;
}

hr {
    margin: 15px 15%;
    width: 70%;
    margin-bottom: 138px;
}


/* ================= Portofolio ===================== */
.portfolio-card {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 16px 15%;
    background-color: #fff200;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(247, 222, 0, 0.5);
}

.portfolio-picture {
    height: 250px;
    /* width: 40%; */
    border-radius: 16px;
    object-fit: cover;
    /* max-width: 50%; */
    display: block;
    /* display: flex; */
}


.portfolio-card div {
    width: 60%;
    margin-left: 16px;
    margin-right: 16px;
}

.portfolio-card:hover {
    background-color: aqua;
}


.title-2 {
    /* padding-top: 30px;
    margin-left: 15%; */
    font-size: 1.5em;
    color: #ff0000;
    font-weight: 700;
    text-transform: uppercase;
}

.title-2:hover {
    color: #fff200;
}

.title-3 {
    color: #ff0000;
    margin: 16px 0px;
    font-size: 1.25em;
    font-weight: 700;
}

.title-3:hover {
    color: #fff200;
}


/* ================= Keterampilan ===================== */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    width: 70%;
    margin: 16px 15%;
}

.skill-card {
    /* flex: 0 1 22%; */
    background-color: white;
    margin: 16px 1.5%;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(247, 222, 0, 0.5);
    width: 22%;
}

.skill-card:hover {
    background-color:#333333;
    box-shadow: 0px 0px 10px 0px rgba(247, 16, 0, 0.5);
}

.skill-picture {
    height: auto;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
}

.skill-title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    color: #ff0000;
}

.skill-title:hover {
    color: #fff200;
}

/* ================= Pengalaman ===================== */
.experience-card {
    margin: 32px 15%;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(247, 222, 0, 0.5);
}


.title-4 {
    font-size: 1em;
    margin: 8px 0px;
    color: #333333;
}

.description {
    line-height: 1.5;
    color: #333333;
}

/* ================= Pendidikan ===================== */
.education-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.education-card {
    /* flex: 0 1 35%; */
    margin: 16px 15%;
    padding: 16px 16px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(247, 222, 0, 0.5);
}

/* .education-picture {
    height: auto;
    width: 100px;
    border-radius: 10px;
} */

/* ================= Footer ===================== */
footer {
    text-align: center;
    padding: 32px;
    background-color: #ff0000;
    color: #fff200;
}
   